h1,h2,h3,h4,h6{
    font-family: 'Roboto Condensed',  sans-serif;
    font-weight: 700;
    
}

.title{
    color: #EB5819;
    text-align: left;
    font-style: bold;
    font-size: 37px;
}

.orange-button{
    background-color: #EB5819 !important;
    border-color: #EB5819 !important;
    padding-left: 104.5px;
    padding-right: 104.5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
}
.orange-button-responsive{
    background-color: #EB5819 !important;
    border-color: #EB5819 !important;
    padding-left: 49px;
    padding-right: 49px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
}

h6{
    font-size: 28px;
}
h5{
    font-size: 24px;
}

h4{
font-size: 30px;
color: #EB5819;
}

h3{
    font-size: 32px;
}

h2{
    font-size: 24px;
    color: #EB5819;
}   
h1{
    font-size: 40px;
}

p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.cont{
    margin-bottom: 100px;
    margin-top: 100px;
}
.responsive-cont{
margin-bottom: 0px;
margin-top: 0px
}
.cont-valdisnei{
    margin-top: 100px;
}
.fundo-cinza{
    background-color: #D4D9D6;
}
.black-button{
    background-color: black !important;
    border-color: black !important;
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}
.black-button-responsive{
    background-color: black !important;
    border-color: black !important;
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}
.orange-letter{
    color: #EB5819 !important;
}

.termos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: end;
}

.responsive-footer{
text-align: center;
}
.responsive-letter{
    font-size: 30px;
    text-align: center;
    }
    