.beginning{
    background-image: url(../img/background-1.jpg);
    background-repeat: no-repeat;
    text-align: center;
    back
}
.title-1{
    font-size: 66px;
    color: #ffffff;
}
.responsive-title-1{
    font-size: 39px;
    color: #ffffff;
}

.title-2{
    font-size: 86px;
    color: #ffffff;
}
.responsive-title-2{
    font-size: 53px;
    color: #ffffff;
}
.reponsive-data{
    font-size: 24px;
    color: #ffffff;
    text-align: center; 
}

.cadastro-title{
    font-size: 24px;
}

.data{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

.second-title{
    color: rgb(43 50 65);
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.responsive-second-title{
    color: rgb(43 50 65);
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.second-title-two{
    color: rgb(0 83 116);
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.responsive-second-title-two{
    color: rgb(0 83 116);
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.title-3{
   font-size: 16px;
   color: #ffffff;
   text-align: center;
}
.txt-top-btn{
    font-size: 18px;
    color: #ffffff;
}
.btn-primary{
    padding-left: 134px;
    padding-right: 136px;
    padding-top: 26px;
    padding-bottom: 25.1px;
    border-radius: 20px;
    font-size: 24px;
    background: linear-gradient(to top, #21A44F , #33D16B);
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    color: #FAFAFA;
    border: none;
    }

.responsive-btn{
    padding-left: 20px;
    padding-right: 14px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 20px;
    font-size: 24px;
    background: linear-gradient(to top, #21A44F , #33D16B);
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    color: #FAFAFA;
    border: none;
    }
.btn-primary-modal{
    padding-left: 18px;
    padding-right: 17px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 20px;
    font-size: 24px;
    background: linear-gradient(to top, #21A44F , #33D16B);
    border: none;
}
  

.modal-text{
    font-size: 12px;
    text-align: left;
}
p{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
}
.second-section{
    background-image: url(../img/Group-6.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 929px;
}

.second-img{
    margin-top: 200px;
}
.blue-background{
background-color: #011F27;
padding-top: 96px;
padding-bottom: 96px;
}

.txt-blue-background{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}
.responsive-txt-blue-background{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.third-section{
    background-color: #f9f9f9;
}
.invert-txt-first{
text-align: left;
margin-bottom: 100px;
}
.invert-txt-second{
    text-align: right;
}
.responsive-invert-txt-first{
    text-align: center;
    margin-bottom: 100px;
    }
.responsive-invert-txt-second{
        text-align: center;
    }
.fourth-section{
background-image: url(../img/bg_farol\ 1.png);
background-repeat: no-repeat;
height: 813.85px;
}
.third-title{
    font-size: 64px;
    color: #2B3241;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 700;
}
.responsive-third-title{
    font-size: 30px;
    color: #2B3241;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 700;
}
.fourth-title{
    font-size: 64px;
    color: #F48646;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 700;
}
.responsive-fourth-title{
    font-size: 30px;
    color: #F48646;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 700;
}
.third-txt{
    text-align: left;
    font-size: 24px;
}

.second-blue-background{
    background-color: #011F27;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 104px;
    color: #ffffff;
}

.fourth-txt{
font-size: 24px;
font-family: 'Roboto';
font-weight: 400;
}
.fifth-section{
    background-image: url(../img/bg_adultos_saudaveis\ 1.png);
    height: 1246px;
}
.adult-img-cont{
    padding-top: 320px;
}
.responsive-adult-img-cont{
padding-top: 150px;
}
.fifht-title{
    font-size: 50px;
    font-family:'Roboto';
    font-weight: 700;
    text-align: center;
}
.responsive-fifht-title{
    font-size: 30px;
    font-family:'Roboto';
    font-weight: 700;
    text-align: center;
}

.six-section{
    background-color: #011F27;
}

.six-title{
font-size: 40px;
text-align: center;
color: #ffffff;
}


.seven-section {
    background-color: #f9f9f9;
}
.seven-title{
color: #000000 !important;
font-family: 'Roboto Condensed';
font-weight: 700;
font-size: 25px;
text-align: center;
}

.accordion-item{
border-color: solid #9A9A9A;
box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.footer{
    margin-top: 150px;
}

.socials{
    font-size: 20px;
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
}
.responsive-socials{
    font-size: 20px;
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    text-align: center;
}
.bottom-socials{
    font-size: 16px;
}
.responsive-bottom-socials{
    font-size: 16px;
    text-align: center;
}
.bottom-terms{
    font-size: 16px;
    text-align: right;
}
.responsive-bottom-terms{
font-size: 16px;
text-align: center;
}


@media (max-width: 540px)
{
    .beginning{
        background-image: none;
        background-color: #021F25;
    }
    .second-section{
        background-image: none;
    }
    .fifth-section{
        background-image: url(../img/Frame-75.png);
        height: 818px;

    }
}

@media (min-width: 540px) and (max-width: 887px)
{
    .beginning{
        background-image: none;
        background-color: #021F25;
    }
    .second-section{
        background-image: none;
    }
    .fifth-section{
        background-image: url(../img/Frame-1.png);
        height: 818px;

    }
}
