h1{
    color:  #EB5819;
    text-align: left;
    
}
.form-control{
    border-radius: 10px;
}

.btn-success {
    background-color:#EB5819 !important;
    border-color: #EB5819 !important;
    border-radius: 10px;
}
.padding{
margin-bottom: 20px;
}
.container{
    margin-top: 80px;
}
