.fundo{
  background-color: #f3f3f3;
}

.Titulo{
text-align: center;
font-family: arial, sans-serif;
margin-top: 50px;
margin-bottom: 50px;
}

.alinhamentoimg{
text-align: center;
}

.imagem{
width: 500px;
border-radius: 20px;
border: 14px solid #fff;
}

.esquerdtxt{
text-align: left;
margin-bottom: 50px;
margin-left: 100px;
font-family: arial, sans-serif;
}

.direitxt{
text-align: right;
margin-bottom: 50px;
margin-right: 100px;
margin-left: 100px;
font-family: arial, sans-serif;
}

.segunTitle{
text-align: center;
font-family: arial, sans-serif;
}

.links{
text-align: center;
background-color: #fff;
padding: 20px 20px;
margin-bottom: 80px;
margin-left: 100px;
margin-right: 100px;
}

.links > a {
color: #fff;
background: #333;
padding: 10px 14px;
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
border-radius: 8px;
}
