.first-section{
    background-image: url(../img/casal-pordosol-1.png) ;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}
.responsive-first-section{
    background-image: url(../img/Dobra1.png);
    background-size: cover;
    height: 200px;
}
.title-1{
    font-size: 73.62px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #2C2141;
    text-align: center;
}
.title-2{
    font-size: 33.62px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    color: #2C2141;
}
.title-3{
    font-size: 26px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    color: #2C2141;
}
iframe{
    border-radius: 20px;
    height: 348px;
    width: 610px;
}

.first-btn{
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    padding-left: 97px;
    padding-right: 97px;
    background: #0ACC6F !important;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
}

.second-section{
    background-image: linear-gradient(to bottom, #2C2141, #3E2D5F);
    height: 1228px;
    position: relative;
    height: 1228px;
}
.responsive-second-section{
    height: 1400px;
    background-image: linear-gradient(to bottom, #2C2141, #3E2D5F);
}
.title-4{
    color: #ED839A;
    font-family: '';
    font-weight: 400;
    font-size: 38px;
    text-align: center;
}
.title-5{
    color: #ffffff;
    text-align: left;
    font-size: 20px;
}

.msg-1{
    width: 393px;
    height: 470px;
    background-color: #3F2F60;
    border-radius: 17.78px;
    padding: 17.78px;
    position: absolute;
    top: 20%;
}
.triangulo-1{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 31px solid #3F2F60;
    margin-top: -3%;
    margin-left: 40%;
}
.end-txt{
    font-size: 20px;
    color:#fff ;
    text-align: center;
    padding-top: 900px;
}
.msg-txt-1{
    color: #fff;
    font-size: 14px;
}

.msg-2{
    width: 393px;
    height: 160px;
    background-color: #3F2F60;
    border-radius: 17.78px;
    padding: 17.78px;
    position: absolute;
    top: 55%;
    left: 45%;
}
.msg-3{
    width: 393px;
    height: 210px;
    background-color: #3F2F60;
    border-radius: 17.78px;
    padding: 17.78px;
    position: absolute;
    top: 20%;
    left: 60%;
}

.fourth-section{
    background-image: url(../img/Dobra-3.png);
    height: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-6{
    color: #fff;
    text-align: center;
    font-family: '';
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 150px;
}

.img-top{
    position: absolute;
    top: -10%;
    right: 7%;
    border-radius: 8px;
}
.crd-title{
    text-align: center;
    padding-top: 170px;
    font-size: 24px !important;
    color: #fff !important;
}
.crd-text{
    font-size: 14px !important;
    text-align: center;
    color: #fff;
}
.crd-1{
    width: 364px;
    height: 504px;
    background-color: #DB8495;
    border-radius: 8px;
    padding: 20px !important;
}

.crd-2{
    width: 364px;
    height: 451px;
    background-color: #DB8495;
    border-radius: 8px;
    padding: 20px !important;
}
.crd-3{
    width: 364px;
    height: 501px;
    background-color: #DB8495;
    border-radius: 8px;
    padding: 20px !important;
}

.crd-2-1{
    width: 364px;
    height: 454px;
    background-color: #3F2F60;
    border-radius: 8px;
    padding: 20px !important;
    margin-top: 60px;
}
.crd-2-2{
    width: 364px;
    height: 540px;
    background-color: #3F2F60;
    border-radius: 8px;
    padding: 20px !important;
    margin-top: 21.5px;
}

.crd-2-3{
    width: 364px;
    height: 473px;
    background-color: #3F2F60;
    border-radius: 8px;
    padding: 20px !important;
    margin-top: 60px;
}

.title-7{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
}
.card{
    padding: 30px;
    border-radius: 8px;
}
.card-title{
    font-size: 30px;
    color: #BD4C72;
    font-weight: 700;
    font-family: 'Roboto';
    font-weight: 700;
}
.card-subtitle{
    font-size: 18.3px;
    font-family: 'Roboto';
    font-weight: 700;
}
.card-subtitle-2{
    font-size: 18px;
}
.card-text{
    font-size: 16px;
}

.sixth-section{
    background-image: url(../img/ceu-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 915px;
}

.title-8{
font-size: 32px;
color: #fff;
text-align: center;
font-weight: 700;
}

.title-9{
    font-size: 42px;
    text-align: center;
    color: #fff;
    margin-top: 92px;
}

.title-10{
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.title-11{
    font-size: 72px;
    text-align: center;
    color: #fff;
}

.title-12{
    font-size: 24px;
    color: #fff;
}
.title-13{
    font-size: 30px;
    color: #fff;
}

.btn-2{
    margin-top: 92px;
    background-color: #3E2D5F !important;
    border: none;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    padding-left: 101.5px;
    padding-right: 101.5px;
    font-size: 18px;
    font-weight: 700;
}

.seventh-section{
    background-image: url(../img/Dobra-8.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1130px;
    padding-top: 287px;
}

.btn-3{
    margin-top: 92px;
    background-color:#0ACC6F!important;
    border: none;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    padding-left: 101.5px;
    padding-right: 101.5px;
    font-size: 18px;
    font-weight: 700;
}

.title-14{
    font-size: 32px;
    color: #fff;
    text-align: center;
}

hr{
    color: #ffffff;
}

.termos{
    color: #fff;
    text-align: end;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 960px){
    .first-section{
        background-image: url(../img/Dobra1.png);
        background-size: cover;
        padding-top: 0%;
    }
    
    .title-1{
        font-size: 23.62px;
        padding-top: 30px;
    }

    .title-2{
        font-size: 20px;
    }
    .title-3{
        font-size: 20px;
        color: #fff;
    }
    .first-btn{
        padding-top: 15.5px;
        padding-bottom: 15.5px;
        padding-left: 49px;
        padding-right: 49px;
        font-size: 16px;
    }
    iframe{
        border-radius: 20px;
        height: 217px;
        width: 330px;
    }
    .second-section{
        background-image: linear-gradient(to bottom, #2C2141, #3E2D5F);
        position: relative;
        height: 1280px;
    }
    .title-4{
        font-size: 28px;
    }
    .title-5{
        font-size: 16px;
        text-align: center;
    }
    .img-msg-top{
        width: 289,43px;
        height: 283,17px;
    }
    .msg-1{
        width: 325px;
        height: 400px;
        position: relative;
        top: 0%;
        left: 0%;
    }
    .triangulo-1{
    margin-top: -4%;
    }
    .msg-2{
        width: 325px;
        height: 200px;
        position: relative;
        top: 0%;
        left: 0%;
    }
    .msg-3{
        width: 325px;
        height: 250px;
        position: relative;
        top: 0%;
        left: 0%;
    }
    .msg-txt-1{
        color: #fff;
        font-size: 14px;
    }
    .end-txt{
        font-size: 16px;
        text-align: center;
        padding-top: 20px;
    }
    .title-6{
        font-size: 28px;
    }
    .fourth-section{
        height: 3870px;
    }

    .card{
        margin-bottom: 60px;
    }
    .img-top{
        width: 90%;
        right: 5%;
    }
    .crd-1{
        width: 313px;
        height: 538px;
        padding: 17px !important;
    }
    
    .crd-2{
        width: 313px;
        height: 463px;
        padding: 17px !important;
        margin-top: 21.5px;
    }
    .crd-3{
        width: 313px;
        height: 520px;
        padding: 17px !important;
        margin-top: 21.5px;
    }
    .crd-2-1{
        width: 313px;
        height: 470px;
        background-color: #DB8495;
        padding: 17px !important;
        margin-top: 21.5px;
    }
    .crd-2-2{
        width: 313px;
        height: 560px;
        background-color: #DB8495;
        padding: 17px !important;
        margin-top: 21.5px;
    }
    
    .crd-2-3{
        width: 313px;
        height: 520px;
        background-color: #DB8495;
        padding: 17px !important;
        margin-top: 21.5px;
    }

    .responsive-title-8{
        font-size: 22px;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }
    .title-9{
        font-size: 32px;
    }
    .title-10{
        font-size: 26px;
    }
    .title-11{
        font-size: 62px;
    }
    .title-12{
        font-size: 20px;
    }
    .title-13{
        font-size: 25px;
    }
    .btn-2{
        padding-top: 23.5px;
        padding-bottom: 23.5px;
        padding-left: 29.5px;
        padding-right: 29.5px;
        font-size: 16px;
    }
    .title-14{
        font-size: 22px;
    }

    .btn-3{
        padding-top: 23.5px;
        padding-bottom: 23.5px;
        padding-left: 29.5px;
        padding-right: 29.5px;
        font-size: 16px;
    }
    .termos{
        margin-top: 40px;
        font-size: 12px;
    }
}   

@media (min-width: 700px) and (max-width: 1000px){
    .responsive-first-section{
        height: 400px;
    }
}